/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 1, 2016, 11:43:32 AM
    Author     : Erik Andersson
*/
body{
    background-color: #a8a8a8;
}
#games{
    margin-top: 10px;
    width: 100%;
    border: 1px black solid;
}
.game{
    padding:0.1em;
    margin:0.5em;
    border: 1px black solid;
    border-radius: 0.3em;
}
.home,.away{
    display:block;
    font: 2em "Courier New", Courier, monospace;
    width:100%;
}
.date,.time{
    text-align:center;
    display:block;
    font: 0.7em "Courier New", Courier, monospace;
    width:100%;
}
.result {
    float: right;
}
table{
    border-collapse: collapse;
    width:100%;
}
td,th{
    border: 1px solid black;
}
tbody>tr:nth-child(n+1):nth-child(-n+6) {
    background-color: green;
}
tbody>tr:nth-child(n+7):nth-child(-n+10) {
    background-color: yellow;
}
tbody>tr:nth-child(n+11):nth-child(-n+12) {
    background-color: grey;
    color: white;
}
tbody>tr:nth-child(n+13):nth-child(-n+14) {
    background-color: red;
    color: white;
}